.service-container {
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}
/* Unselected Services */
.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(121, 121, 121, 0.507);
    height: 375px;
    width: 375px;
    border-radius: 30px;
    transition: height 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s ease-in-out;
    border: 2px solid black;
    margin: 30px;
}
.service:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    border: 3px solid black;
    background-color: rgba(199, 199, 199, 0.507);

}
/* Selected Services */
.selected_service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(111, 194, 135, 0.959);
    color: white;
    height: 375px;
    width: 375px;
    border-radius: 30px;
    transition: height 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.5s ease-in-out;
    border: 2px solid black;
}
.selected_service:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
    border: 3px solid black;
    filter: drop-shadow(2px 2px 0.2rem black);
    background-color: rgba(80, 187, 110, 0.959);
}
.service button {
    font-weight: bold;
    width: 50%;
    border-radius: 10px;
    transition: 0.5s;
    color: black;
    padding: 10px;
    margin-top: 15px;
}
.selected_service button {
    font-weight: bold;
    width: 50%;
    border-radius: 10px;
    transition: 0.5s;
    color: white;
    margin-top: 30px;
}

.select-button{
    background-color: rgba(111, 194, 135, 0.959);;
}
.deselect-button{
    background-color: rgb(224, 83, 83);
}

