.quote-container {
    background-color: red;

}
.quote-service-container {
    background-color: blue;
    height: 200px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}
.quote-service {
    background-color: yellow;
    height: auto;
    padding: 10px;
}