.quote-list-container {
    display: flex;
    justify-content: space-evenly;
}

.quote-list-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 20px;
    height: auto;
    width: 200px;
    padding: 10px;
    transition: 0.5s ease-in-out;
}
/* .quote-list-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    padding: 10px;
    transition: 0.5s ease-in-out;
} */
.quote-list-card:hover {
    background-color: rgb(127, 172, 127);
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}